################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/src/.vs
**/src/*/obj
**/src/*/bin
**/src/*/local.settings.json
**/src/**/*.user
**/src/**/PublishProfiles
**/src/**/Properties/launchSettings.json
**/.vscode
